airtel-singleview-service/src/main/resources/KYC.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:KYC="http://tresoap.intecbilling.com/2.0/KYC" xmlns:ed="http://www.intecbilling.com/singleview/config/xsd/ExtDefnXmlSchemaAppinfo" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tresoap.intecbilling.com/2.0/KYC" xsi:schemaLocation="http://www.intecbilling.com/singleview/config/xsd/ExtDefnXmlSchemaAppinfo file:///svw/svwprd1b/rel/server/config/xsd/ExtDefnXmlSchemaAppinfo.xsd">
<xs:annotation>
<xs:appinfo>
      <ed:Namespace>
        <versionStr>$Revision: 1.1 $$Date: 2014/09/19 11:22:29 $</versionStr>
        <description>External Definition Namespace for Know Your Customer (KYC) Interface
$Revision: 1.1 $</description>
        <schemaLocation>/svw/svwprd1b/data/server/config/xsd</schemaLocation>
      </ed:Namespace>
    </xs:appinfo>
<xs:documentation>XML Schema generated from External Definitions</xs:documentation>
</xs:annotation>
<xs:group name="CaseActionAssocForKYCUnbarringRequest">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2015/06/23 19:42:02 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:group>
<xs:group name="CaseCommentAssocForKYCUnbarringRequest">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2015/06/23 19:42:19 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:group>
<xs:group name="CreateActionForKYCUnbarringRequest">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2015/06/23 19:42:38 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="TYPE" type="xs:integer">
<xs:annotation>
<xs:appinfo>
            <ed:Element>
              <description>Case Unique Identifier.</description>
            </ed:Element>
          </xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="WORK_GROUP" type="xs:integer">
<xs:annotation>
<xs:appinfo>
            <ed:Element>
              <description>Work Item Id</description>
            </ed:Element>
          </xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="ESCALATION" nillable="true" type="xs:integer"/>
<xs:element name="DURATION" type="xs:duration">
<xs:annotation>
<xs:appinfo>
            <ed:Element>
              <description>Action Duration</description>
            </ed:Element>
          </xs:appinfo>
</xs:annotation>
</xs:element>
<xs:group ref="KYC:CaseActionAssocForKYCUnbarringRequest"/>
</xs:sequence>
</xs:group>
<xs:complexType name="CreateCaseForKYCUnbarringRequest">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2015/06/23 19:42:52 $</versionStr>
          <description>

$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="PRIORITY" type="xs:string"/>
<xs:element name="SOURCE" type="xs:string"/>
<xs:element minOccurs="0" name="SERVICENAME" type="xs:string">
<xs:annotation>
<xs:appinfo>
            <ed:Element>
              <description>Service Number (could be set from Service View)</description>
            </ed:Element>
          </xs:appinfo>
</xs:annotation>
</xs:element>
<xs:element name="CUST_ACCT" type="xs:integer">
<xs:annotation>
<xs:appinfo>
            <ed:Element>
              <description>The customer account to be used for this case</description>
            </ed:Element>
          </xs:appinfo>
</xs:annotation>
</xs:element>
<xs:group ref="KYC:CreateActionForKYCUnbarringRequest"/>
<xs:group ref="KYC:CreateCommentForKYCUnbarringRequest"/>
<xs:group ref="KYC:CaseCommentAssocForKYCUnbarringRequest"/>
</xs:sequence>
</xs:complexType>
<xs:group name="CreateCommentForKYCUnbarringRequest">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2015/06/23 19:43:05 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="COMMENT" type="xs:string">
<xs:annotation>
<xs:appinfo>
            <ed:Element>
              <description>Full comments entered by the User</description>
            </ed:Element>
          </xs:appinfo>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:group>
<xs:complexType name="ROW">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2015/06/23 07:28:55 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element minOccurs="0" name="NUMBER_OF_SERVICES" type="xs:integer"/>
<xs:element minOccurs="0" name="EQUIPID" type="xs:integer"/>
<xs:element minOccurs="0" name="EQUIPNAME" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ROWSET">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2015/06/23 07:29:26 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="ROW" type="KYC:ROW"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="barSubscriberRequest">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.2 $$Date: 2014/10/30 13:59:57 $</versionStr>
          <description>
$Revision: 1.2 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="pUsername">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="15"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="pSubno">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="80"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="pReasoncode">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element default="N" minOccurs="0" name="pSndcmd" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="barSubscriberResponse">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2014/09/22 12:37:43 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="RESULT" type="KYC:barSubscriberResponse.RESULT"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="barSubscriberResponse.RESULT">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2014/09/22 12:37:56 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="RETURN_CODE">
<xs:simpleType>
<xs:restriction base="xs:long">
<xs:minExclusive value="1"/>
<xs:maxExclusive value="80"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="MESSAGE" type="xs:string"/>
<xs:element name="SERVICE_REQUEST_NUMBER">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getMSISDNStatusRequest">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2014/09/24 10:46:16 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="SUBSCRIBER_NO">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="80"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getMSISDNStatusResponse">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2014/09/24 10:46:22 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="RESULT" type="KYC:getMSISDNStatusResponse.RESULT"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getMSISDNStatusResponse.RESULT">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.2 $$Date: 2015/07/30 14:36:10 $</versionStr>
          <description>
$Revision: 1.2 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element minOccurs="0" name="STATUS">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="80"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element minOccurs="0" name="CURRENT_BALANCE" type="xs:double"/>
<xs:element name="RETURN_CODE" type="xs:integer"/>
<xs:element name="MESSAGE" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSIMNumberRequest">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.3 $$Date: 2015/07/28 08:13:40 $</versionStr>
          <description>
$Revision: 1.3 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="USER_NAME" nillable="true">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="80"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="RETAILER_MOBILE_NO" nillable="true">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="80"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="SUBSCRIBER_NO">
<xs:annotation>
<xs:appinfo>
            <ed:Element>
              <description>Service Number of the Purchased Service</description>
            </ed:Element>
          </xs:appinfo>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="80"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSIMNumberResponse">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.3 $$Date: 2015/07/28 08:13:51 $</versionStr>
          <description>
$Revision: 1.3 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="RESULT" type="KYC:getSIMNumberResponse.RESULT"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSIMNumberResponse.RESULT">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.3 $$Date: 2015/07/28 08:14:05 $</versionStr>
          <description>
$Revision: 1.3 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element minOccurs="0" name="SIM_NO">
<xs:annotation>
<xs:appinfo>
            <ed:Element>
              <description>Network Name of the Service</description>
            </ed:Element>
          </xs:appinfo>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="20"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="RETURN_CODE" type="xs:integer"/>
<xs:element name="MESSAGE" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getServiceDetailsRequest">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2015/06/23 07:29:58 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="pChannel" type="xs:string"/>
<xs:element name="pSubNo" type="xs:string"/>
<xs:element name="pArea" type="xs:string"/>
<xs:element name="pSubscrType" type="xs:string"/>
<xs:element minOccurs="0" name="pCallTime" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getServiceDetailsResponse">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2015/06/23 07:30:30 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="return" type="KYC:return"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="reconnectBarringRequest">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.2 $$Date: 2014/10/30 14:00:54 $</versionStr>
          <description>
$Revision: 1.2 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="pUsername">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="15"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="pSubno">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="80"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="pReasoncode">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element default="N" minOccurs="0" name="pSndcmd" nillable="true" type="xs:string"/>
<xs:group ref="KYC:reconnectBarringRequest.CUSTOMER_NODE"/>
</xs:sequence>
</xs:complexType>
<xs:group name="reconnectBarringRequest.CUSTOMER_NODE">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.2 $$Date: 2014/10/30 14:01:00 $</versionStr>
          <description>
$Revision: 1.2 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:group>
<xs:complexType name="reconnectBarringResponse">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2014/09/19 11:35:04 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="RESULT" type="KYC:reconnectBarringResponse.RESULT"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="reconnectBarringResponse.RESULT">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2014/09/19 11:35:16 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="RETURN_CODE">
<xs:simpleType>
<xs:restriction base="xs:long">
<xs:minExclusive value="1"/>
<xs:maxExclusive value="80"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="MESSAGE" type="xs:string"/>
<xs:element name="SERVICE_REQUEST_NUMBER">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="return">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2015/06/23 07:30:59 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="ROWSET" type="KYC:ROWSET"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateCustomerDemographicsReq">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2014/09/19 11:37:28 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string"/>
<xs:group ref="KYC:updateCustomerDemographicsReq.SERVICE"/>
<xs:element name="ENTRY_DATE" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateCustomerDemographicsReq.ADDRESS">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.2 $$Date: 2015/10/28 11:55:36 $</versionStr>
          <description>
$Revision: 1.2 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element minOccurs="0" name="BUILDING" nillable="true">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element minOccurs="0" name="APARTMENT" nillable="true">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element minOccurs="0" name="STREET" nillable="true">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element minOccurs="0" name="POST_AREA" nillable="true">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element minOccurs="0" name="ADDRS_BLOCK" nillable="true">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element minOccurs="0" name="PO_BOX">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element minOccurs="0" name="ADDRESS_AREA" nillable="true">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element minOccurs="0" name="ZIP_CODE" nillable="true">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element minOccurs="0" name="COUNTRY" nillable="true">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:group name="updateCustomerDemographicsReq.CONTACT">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.2 $$Date: 2015/02/03 13:39:35 $</versionStr>
          <description>
$Revision: 1.2 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence/>
</xs:group>
<xs:group name="updateCustomerDemographicsReq.CUSTOMER">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2014/09/19 11:37:56 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:group ref="KYC:updateCustomerDemographicsReq.CONTACT"/>
</xs:sequence>
</xs:group>
<xs:complexType name="updateCustomerDemographicsReq.PERSON">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.4 $$Date: 2016/06/28 06:27:00 $</versionStr>
          <description>
$Revision: 1.4 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="FIRST_NAME">
<xs:annotation>
<xs:appinfo>
            <ed:Element>
              <description>Core attribute type definition used by the EVS API.
</description>
            </ed:Element>
          </xs:appinfo>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element minOccurs="0" name="MIDDLE_NAME" nillable="true">
<xs:annotation>
<xs:appinfo>
            <ed:Element>
              <description>First Name or Given Names</description>
            </ed:Element>
          </xs:appinfo>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="0"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="LAST_NAME">
<xs:annotation>
<xs:appinfo>
            <ed:Element>
              <description>Core attribute type definition used by the EVS API.
</description>
            </ed:Element>
          </xs:appinfo>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element minOccurs="0" name="OFFICIAL_NAME" nillable="true" type="xs:string"/>
<xs:element name="ID_TYPE">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ID_NUMBER">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="255"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element minOccurs="0" name="SECONDARY_NUMBER" nillable="true">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="80"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ADDRESS" type="KYC:updateCustomerDemographicsReq.ADDRESS"/>
</xs:sequence>
</xs:complexType>
<xs:group name="updateCustomerDemographicsReq.PRODUCT">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.2 $$Date: 2015/09/29 13:59:24 $</versionStr>
          <description>
$Revision: 1.2 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:group ref="KYC:updateCustomerDemographicsReq.CUSTOMER"/>
</xs:sequence>
</xs:group>
<xs:group name="updateCustomerDemographicsReq.SERVICE">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.2 $$Date: 2015/09/29 13:58:44 $</versionStr>
          <description>
$Revision: 1.2 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="RETAILER_MOBILE_NO">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="80"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="SUBSCRIBER_NO">
<xs:annotation>
<xs:appinfo>
            <ed:Element>
              <description>Core attribute type definition used by the EVS API.
</description>
            </ed:Element>
          </xs:appinfo>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="80"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="CONTACT" type="KYC:updateCustomerDemographicsReq.PERSON"/>
</xs:sequence>
</xs:group>
<xs:complexType name="updateCustomerDemographicsResponse">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.2 $$Date: 2014/10/01 09:38:19 $</versionStr>
          <description>
$Revision: 1.2 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="RESULT" type="KYC:updateCustomerDemographicsResponse.RESULT"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateCustomerDemographicsResponse.RESULT">
<xs:annotation>
<xs:appinfo>
        <ed:Defn>
          <versionStr>$Revision: 1.1 $$Date: 2014/09/19 11:38:38 $</versionStr>
          <description>
$Revision: 1.1 $</description>
        </ed:Defn>
      </xs:appinfo>
</xs:annotation>
<xs:sequence>
<xs:element name="RETURN_CODE" type="xs:integer"/>
<xs:element name="MESSAGE" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>